# Build yazproxy
name: Build yazproxy
on: [push, pull_request]
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v5
     with:
      fetch-depth: 1
   - name: Clone YAZ
     uses: actions/checkout@v5
     with:
      repository: indexdata/yaz
      path: yaz
      ref: master
   - name: Clone YAZPP
     uses: actions/checkout@v5
     with:
      repository: indexdata/yazpp
      path: yazpp
      ref: master
   - name: Update packages
     run: sudo apt update
   - name: Install required and optional dependencies
     run: >
      sudo apt install autoconf automake libtool gcc g++ make bison
      tclsh xsltproc docbook docbook-xml docbook-xsl
      pkg-config libxslt1-dev libgnutls28-dev libicu-dev
   - name: Run buildconf for YAZ
     run: cd yaz && ./buildconf.sh
   - name: Run configure for YAZ
     run: >
      cd yaz && ./configure --disable-shared --enable-static
   - name: Run make for YAZ
     run: cd yaz && make -j4
   - name: Run buildconf for YAZ++
     run: cd yazpp && ./buildconf.sh
   - name: Run configure for YAZ++
     run: >
      cd yazpp && ./configure --with-yaz=../yaz
      --disable-shared --enable-static
   - name: Run make for YAZ++
     run: cd yazpp && make -j4
   - name: Run buildconf for yazproxy
     run: ./buildconf.sh
   - name: Run configure for yazproxy
     run: >
      ./configure --with-yazpp=yazpp --disable-shared --enable-static
   - name: Run make check for yazproxy
     run: make -j4 check

 quayio:
  name: Quay.io image builder & publisher
  runs-on: ubuntu-latest

  steps:
   - uses: actions/checkout@v5
   - name: Login to Quay.io
     uses: docker/login-action@v3
     with:
      registry: quay.io
      username: ${{ secrets.MELINDA_QUAY_IO_USERNAME }}
      password: ${{ secrets.MELINDA_QUAY_IO_PASSWORD }}
   - name: Build and publish image to Quay.io
     uses: docker/build-push-action@v6
     with:
      context: .
      push: true
      tags: ipv6